body{
  font-family: 'Poppins', sans-serif;
}

.mycalculator{
  width: 95%;
  max-width: 500px;
  margin: 20px auto 20px auto;
  box-shadow: 0px 0px 3px 0px black;
  padding: 20px;
}
.mycalculator > button{
  margin-top: 15px;
}

.mycalculator h1 {
  text-align: center;
}